{% extends 'base.html' %}
{% block content %}
<!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="row justify-content-center align-content-center h-100 text-center px-lg-5">
        <div class="col-12 col-lg-4">
            <div class="mm-area py-5">
                <div class="title">Меню</div>
                <div class="owl-carousel owl-theme" id="slider-mm">

                  <div class="card card-height shadow-sm p-2 p-md-4 item">
                      <a href="http://m-o-f.ru/school_mos_ftiz/shkoly-moskovskogo-ftiziatra.php">
                           <div class="icon icon-lg icon-shape icon-shape-color-one shadow rounded-circle text-center">
                                <i class="fas fa-chalkboard-teacher"></i>
                           </div>
                          <div class="size-fnt text-mm h-100 d-flex align-items-center justify-content-center"><h5>Школа московского фтизиатра</h5></div>
                      </a>
                  </div>

                 <div class="card card-height shadow-sm p-2 p-md-4 item">
                      <a href="#">
                           <div class="icon icon-lg icon-shape icon-shape-color-two shadow rounded-circle text-center">
                                <i class="fas fa-viruses"></i>
                           </div>
                           <div class="size-fnt text-mm h-100 d-flex align-items-center justify-content-center"><h5>Специалистам COVID-19</h5></div>

                      </a>
                  </div>

                  <div class="card card-height shadow-sm p-2 p-md-4 item">
                      <a href="#">
                           <div class="icon icon-lg icon-shape icon-shape-color-three shadow rounded-circle text-center">
                                <i class="fas fa-sitemap"></i>
                           </div>
                           <div class="size-fnt text-mm h-100 d-flex align-items-center justify-content-center"><h5>Руководство Центра</h5></div>
                      </a>
                  </div>

                 <div class="card card-height shadow-sm  p-2 p-md-4 item">
                      <a href="#">
                           <div class="icon icon-lg icon-shape icon-shape-color-four shadow rounded-circle text-center">
                                <i class="fas fa-user"></i>
                           </div>
                            <div class="size-fnt text-mm h-100 d-flex align-items-center justify-content-center"><h5>Страница главного фтизиатра</h5></div>
                      </a>
                  </div>

                 <div class="card card-height shadow-sm p-2 p-md-4 item">
                      <a href="#">
                           <div class="icon icon-lg icon-shape icon-shape-color-one shadow rounded-circle text-center">
                                <i class="fas fa-comments"></i>
                           </div>
                          <div class="size-fnt text-mm h-100 d-flex align-items-center justify-content-center"><h5>Письмо в администрацию Центра</h5></div>
                      </a>
                  </div>
                 <div class="card card-height shadow-sm p-2 p-md-4 item">
                      <a href="#">
                           <div class="icon icon-lg icon-shape icon-shape-color-two shadow rounded-circle text-center">
                                <i class="fas fa-comment-alt"></i>
                           </div>
                           <div class="size-fnt text-mm h-100 d-flex align-items-center justify-content-center"><h5>Отзывы пациентов</h5></div>
                      </a>
                  </div>
                 <div class="card card-height shadow-sm p-2 p-md-4 item">
                      <a href="/contacts/">
                           <div class="icon icon-lg icon-shape icon-shape-color-three shadow rounded-circle text-center">
                                <i class="fas fa-info"></i>
                           </div>
                           <div class="size-fnt text-mm h-100 d-flex align-items-center justify-content-center"><h5>Контактная информация</h5></div>
                      </a>
                  </div>
             </div>
            </div>
            </div>

        <div class="col-12 col-lg-5 text-left">
            <div class="text-white font-weight-bold font-mm">Государственное бюджетное учреждение здравоохранения города Москвы "Московский научно-практический центр борьбы с
                туберкулезом
            Департамента здравоохранения города Москвы"</div>
            <hr>
            <div class="text-white font-weight-bold font-mm text-right">The Moscow Research and Clinical Center for Tuberculosis Control of the Moscow Government Department of
                Health</div>
        </div>
        <div class="col-12 col-lg-3 mt-xl-n5">
            <div class="row">
                <div class="col-7 border-0 card card-effects bg-primary text-center mb-1">
                    <div class="icon icon-lg icon-shape icon-shape-color-white shadow rounded-circle text-center">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                    <h5 class="text-white">Школа пациента</h5>
                </div>
                <div class="col-7 border-0 card card-effects bg-primary text-center mb-1">
                    <div class="icon icon-lg icon-shape icon-shape-color-white shadow rounded-circle text-center">
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                    <h5 class="text-white">Независимая оценка качества оказания услуг медицинскими организациями</h5>
                </div>
                <div class="col-7 border-0 card card-effects bg-primary text-center">
                    <div class="icon icon-lg icon-shape icon-shape-color-white shadow rounded-circle text-center">
                        <i class="fas fa-list"></i>
                    </div>
                    <h5 class="text-white">График приема населения</h5>
                </div>
            </div>
        </div>
    </div>
  </section><!-- #intro -->
<div class="container mt--100">
    <div class="row">
        <div class="col-12 col-lg-3">
            <div class="card card-effects shadow-lg text-center font-weight-normal">
                <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <span class="badge badge-pill badge-primary text-uppercase text-white"><h6>Справочная служба: 8-499-268-25-20</h6></span>
                <span class="badge badge-pill badge-primary text-uppercase text-white"><h6>Приемная Директора: 8-499-268-00-05</h6></span>
                <span class="badge badge-pill badge-primary text-uppercase text-white"><h6>Отдел делопроизводства: 8-499-785-25-14</h6></span>
                <span class="badge badge-pill badge-primary text-uppercase text-white"><h6>Факс: 8-499-785-20-82</h6></span>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card card-effects shadow-lg text-center font-weight-normal">
                <div class="icon icon-lg icon-shape icon-shape-color-one shadow rounded-circle text-center">
                    <i class="far fa-clock"></i>
                </div>
                <h4 class="text-color-one text-uppercase">Режим работы</h4>
                <span class="badge badge-pill badge-color-one text-uppercase text-white"><h5>Круглосуточно (Стационар)</h5></span>
            </div>
        </div>
        <div class="col-12 col-lg-3">
             <div class="card card-effects shadow-lg text-center font-weight-normal">
                <div class="icon icon-lg icon-shape icon-shape-color-two shadow rounded-circle">
                    <i class="fas fa-map-pin"></i>
                </div>
                <h4 class="text-color-two text-uppercase">Адрес</h4>
                <span class="badge badge-pill badge-color-two text-uppercase text-white"><h5>г. Москва, ул. Стромынка, д. 10</h5></span>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card card-effects shadow-lg text-center font-weight-normal">
                <div class="icon icon-lg icon-shape icon-shape-color-three shadow rounded-circle">
                   <i class="fas fa-exclamation"></i>
                </div>
                <span class="badge badge-pill badge-color-three text-uppercase text-white"><h6>Контактный телефон горячей линии психологической помощи: +7(999)353-79-80</h6></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}